@import "tailwindcss";

:root{
  --brand: 99 102 241; /* indigo */
}
.bg-brand { background-color: rgb(var(--brand)); }
.text-brand { color: rgb(var(--brand)); }
.ring-brand { --tw-ring-color: rgb(var(--brand)); }
